/* Color Variables  */
:root {
  --arpie_blue: #2297de;
  --arpie_black: #292b2c;
  --arpie_red: #ff6f58;
  --arpie_green: #39ca74;
}

body {
  width: 100vw;
}

#free-quote {
  background-color: var(--arpie_red);
  color: white;
  padding-right:40px;
  padding-left:40px;
}

.footer {
  background-color: var(--arpie_blue);
  width: 100%;
}
.container {
  margin-left: 0px;
  margin-right: 0px;
  width: 100vw;
}

p {
  padding-bottom:15px;
  line-height: 2;
  font-size: 120%;
}

.full-section {
  min-height: 100vh;
  padding-top: 13%;
}

.menu-icon {
  color: var(--arpie_blue);
  font-family: 'Exo 2', sans-serif;
}

.section {
  text-align: center;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* FONTS */
/* - - - - - - - - - - - - - - - - - - - - */
.arpie-title {
  font-family: 'Exo 2', sans-serif;
  font-size: 350%;
  line-height: 1.5;
  padding-bottom: 30px;
}

.arpie-title-font {
  font-family: 'Exo 2', sans-serif;
  font-size: 350%;
  line-height: 1.5;
}

.arpie-p {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  line-height: 2;
}

.arpie-font {
  /* font-family: 'Exo 2', sans-serif; */
    font-family: 'Oxygen', sans-serif;
    line-height: 1.5;
}

.arpie-subfont {
  line-height: 1.5;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 250%;
  font-weight: 400;
}

.arpie-subfont-small {
  line-height: 1.6;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 110%;
}

.navbar-font {
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.copyright {
  font-weight: 300;
}
/* END FONTS */
/* - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - */
/* BUTTONS */
/* - - - - - - - - - - - - - - - - - - - - */
.btn {
  text-transform: uppercase;
}

.btn-default {
  background: none;
  border-color: var(--arpie_red);
  border-width: thin;
  color: var(--arpie_red);
  /* color: white; */
  font-size: 120%;
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  padding-left:33px;
  padding-right:33px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 5%;
}

.btn-default:hover {
  background-color: var(--arpie_red);
  color: white;
  border-color: var(--arpie_red);
}

.btn-default:focus {
  background-color: var(--arpie_red);
  color: white;
  border-color: var(--arpie_red);
}

.btn-red {
  background:  var(--arpie_red);
  border-color: var(--arpie_red);
  border-width: medium;
  color: white;
  /* color: white; */
  font-size: 120%;
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  padding-left:33px;
  padding-right:33px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 5%;
}

.btn-red:hover {
  border-color: var(--arpie_blue);
  background-color: var(--arpie_blue);
  filter: drop-shadow( 0px 0px 0px #000 );
}

.btn-red:focus {
  background-color: var(--arpie_red);
  border-color: var(--arpie_red);
}

/* white BUTTON */
.btn-white {
  background:  white;
  border-color: white;
  border-width: medium;
  color: white;
  /* color: white; */
  font-size: 120%;
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  padding-left:33px;
  padding-right:33px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 5%;
}

 /* BLUE BUTTON */
 .btn-blue {
   background:  var(--arpie_blue);
   border-color: var(--arpie_blue);
   border-width: medium;
   color: white;
   /* color: white; */
   font-size: 120%;
   font-family: 'Oxygen', sans-serif;
   font-weight: 500;
   padding-left:33px;
   padding-right:33px;
   padding-top: 13px;
   padding-bottom: 13px;
   margin-top: 5%;
 }
/* END BUTTONS */
/* - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - */

.blue-background {
  background-color: var(--arpie_blue);
  color: white;
}

.white-background {
  background-color: #f3f3f3;
  color: black;
}

.real-white-background {
  background-color: white;
  color: black;
}

.nav-logo-size {
  height: 40px;
  margin-top: -10px;
}

.padded-col {
  padding-left: 70px;
  padding-right: 70px;
}


/* - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - */
/* NAV BAR*/
/* - - - - - - - - - - - - - - - - - - - - */
.nav-logo {
  /* height: 100px; */
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  padding-right:50px;
  padding-left:50px;
}

.navbar-custom {
  background-color: rgba(255,255,255,.9);
  border: none;
}

.active-nav {
  background-color: var(--arpie_blue);
  color:white;
}
/* END NAV BAR */
/* - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - */


/* Photos */
.do-photo {
  height: 150px;
}

.fat-row {
  padding-top:40px;
  padding-bottom:40px;
}

.fat-bottom {
  padding-bottom:40px;
}

.hi-waters-row {
  padding-top:40px;
  padding-bottom:20px;
}

.white {
  color:white;
}

.section{
	background-size: cover;
}

.drop-shadow {
  filter: drop-shadow( -3px -3px 3px #000 );
}

.dropdown-menu {
  background-color: rgba(255,255,255,.9);
  border: none;
  padding-left: 13px;
}

.dropdown-menu>li>a {
  padding-left: 10px;
  margin-bottom: 7px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--arpie_blue);
}


/* MOBILE VIEW */
@media (max-width: 768px) {
  .navbar-brand {
    padding-left: 13px;
  }

  .nav-logo-size {
    height: 40px;
    margin-top: -5px;
  }

  .navbar-toggle {
    margin-top:0px;
    margin-bottom:0px;
  }

  .btn-default {
    font-size: 20px;
    margin-top: 15%;
  }

  .arpie-p {
    font-size: 100%;
  }

  .copyright {
    font-size: 80%;
  }

  .padded-col {
    padding-bottom:40px;
  }
}

/* Nav bar */
