/* Color Variables  */
:root {
  --arpie_blue: #2297de;
  --arpie_black: #292b2c;
  --arpie_red: #ff6f58;
}

h3 {
  font-family: 'Oxygen', sans-serif;
  font-weight:400;
}

.input-group {
  width: 100%;
}

.first-row {
  padding-top: 50px;
}

.second-row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.third-row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.input-group {
  /* padding-top:23px; */
  padding-bottom:43px;
}

.btn-submit {
  background-color: var(--arpie_red);
  /* font-family: 'Oxygen', sans-serif; */
  font-weight: 400;
  font-size: 170%;
  padding-right: 33px;
  padding-left: 33px;
}

.job-dropdown {
  font-size: 150%;
}

.services {
    padding-top: 40px;
}

.checkbox {
  font-size: 170%;
  padding-top:20px;
  padding-left:55px;
}


/* MOBILE VIEW */
@media (max-width: 768px) {
    .einstein {
      width: 120px;
    }

    .quote-section {
      padding-left: 13px;
      padding-right: 13px;
    }

}
